/* CSS RESET*/
@font-face {
  font-family: NeutralFace;
  src: url(fonts/NeutralFace.otf);
  font-family: Elanor;
  src: url(fonts/Elanor.otf);
  font-family: Inter;
  src: url(fonts/Inter-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {width:100%;}

body {
  font-size: 20px;
  font-family: Inter, NeutralFace;
  background-color: #f7f2e9;
}

header h1 {
  font-family: Inter;
  letter-spacing: 5px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  background: #f7ded5;
}

header h2 {
  letter-spacing: 5px;
  font-family: Inter;
  text-align: center;
  font-size: 50;
  padding: 50px;
  transform: translateY(-500px);
  transition: 250ms linear;
  opacity: 1;
  animation: slider 1s 1s forwards cubic-bezier(.56, -0.61, .46, 1.57);
}

@keyframes slider {
  from {
    transform: translateY(500) rotate(-3deg);
    opacity: 0;
  }

  to {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.color {
  text-align: center;
  border-bottom: 2px solid black;
}

nav.transition {
  margin-bottom: 40px;
}

nav a {
  padding: 20px;
  color: black;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.transition a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

.transition a:hover,
.transition a:focus {
  outline: none;
}

.transition a::before,
.transition a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.transition a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.transition a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.transition a:hover,
.transition a:focus {
  color: black;
}

.transition a:hover::before,
.transition a:focus::before,
.transition a:hover::after,
.transition a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

section.artist-statement {
  width: 100%;
  margin: auto;
  height: auto;
  min-height: 50vh;
  padding: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: url(../images/image_03.png) no-repeat center center;
  background-size: cover;
}


.artist-statement a {
  text-decoration: none;
  font-size: 40px;
  color: white;
}

.artist-statement h2{
  font-size: 30px;
  padding: 30px;
}
.artist-statement p{

  text-align: left;
}

div.box {
  background-color: black;
  margin-top: 50px;
  border-radius: 20px;
  width: 350px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  box-shadow: 0 5px 10px 0px grey;
}

.box:hover {
  transform: scale(1.1) translateY(-80px);
  box-shadow: 0 8px 20px 0px white;
}

.inside h2 {
  text-align: center;
  padding: 40px;
}

section.final {
  width: 100%;
  height: auto;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  background: url(../images/image_03.png) no-repeat center center;
  background-size: cover;
}

.final h2 {
  text-align: left;
  font-size: 40px;
  color: black;
  transition: all 0.5s;
}

.final h2:hover {
  cursor: pointer;
  transform: scale(1.1) translateY(-20px);

}

.final p {
  font-family: Inter, serif;
  text-align: center;
  font-size: 30px;
}

.final a {
  transition: all 0.5s;
}

.final a:link {
  text-decoration: none;
  transition: all 0.5s;
}

.final a:hover {
  color: white;
}

ul {
  padding: 25px;
}

li {
  font-size: 30px;
}

.styleguide a {
  text-decoration: none;
  color: black;
}

.styleguide a:hover {
  color: white;
}

.wireframe h3 {
  padding: 20px;
  font-size: 50px;
}

.wireframe h3:hover {
  color: white;
}

section.wireframe {
  align-items: center;
  margin: 50px;
  text-align: center;
}

.prototype h3 {
  padding: 20px;
  font-size: 50px;
}

.prototype h3:hover {
  color: white;
}

section.prototype {
  margin: 50px;
  text-align: center;
}


footer {
  text-align: center;
  border-top: 2px solid black;
  padding: 20px;
  background: #f7ded5;
}

@media screen and (max-width: 992px) {
  /* body {
    background: red;
  } */

  section.midtermFlex {
    height: auto;
    min-height: 100vh;
    flex-flow: row wrap;
  }

  section.styleguide {
    height: auto;
    min-height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  body {

  }
  .row, .nav {
    flex-direction: column;
  }

  section.midtermFlex {
    height: auto;
    min-height: 100vh;
    flex-flow: row wrap;
    order: 1;
  }

  .footer {
    order: 2;
  }
}
