/* CSS RESET */
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Inter;
  overflow-x: hidden;
}

div.header {
  z-index: 1;
  position: relative;
  margin: auto;
  width: 20vw;
  height: auto;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
}

.header img {
  height: 100px;
  width: 100%;
}
.header img:hover{
  animation: slider 1s 0.5s forwards;
  animation-iteration-count: infinite;
}

/* rotates logo */
@keyframes slider{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

.navbar {
  padding: 50px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.navbar a:visited {
  text-decoration: none;
}



.navbar a {
  font-family: Inter;
  color: black;
  font-size: 20px;
  padding: 20px 20px;
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:hover{
  text-decoration: underline;

}

.main-nav {
  justify-content: center;
  display: flex;
}

.main-nav a {

  color: black;
  font-size: 20px;
  padding: 10px;
  margin: 15px 25px;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-radius: 0px;
  border-width: 2px;

}
.main-nav a:link{
  text-decoration: none;
}
.main-nav a:hover {
  border-color: black;
  border-style: solid;
  border-radius:  50px ;
  border-width: 2px;

}


section.home-container {
  margin: auto;
  padding: 50px;
  width: 70vw;
  margin-bottom: 200px;
}

section.coupons {
  margin-bottom: 20px;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  height: 10vh;
  background: url(../images/coupon-bg.png);
  background-size: cover;
  bottom: 0;
  left: 0;
}

.container {
  left: 0;
  bottom: 180px;
}

section.new {
  margin-bottom: 20px;
  width: 100%;
  height: 50vh;
  padding-top: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/shop-now.png);
  background-size: cover;
}

section.discount{
    margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background: url(../images/discount.png) no-repeat center center;;
  /* background-size: cover; */

}

.shop-now a {
  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 30px 50px;
  text-decoration: none;
  font-size: 30px;
  transition: all 0.5s;
  box-shadow: 0 5px 10px 0px grey;
}
.shop-now a:hover{
  box-shadow: 0 8px 20px 0px white;
}

.slideshow-container{

  /* background-color: red; */
  margin:auto;
  width:100%;
  position:relative;


}
.mySlides img{
  width: 100%;
  /* border-radius: 250px; */
  height:50vh;
}
.mySlides {

  display: none;
}

.prev,
.next{
  cursor: pointer;
  position: absolute;
  top:50%;
  width:auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select:none;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;

}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0,0,0.8);
}

section.membership{
  display: flex row;
  width:100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* height:20vh; */
  background-color: #f7ded5;
  padding: 20px;

}

.membership h1{
  color: red;
  font-size: 25px;
  margin-bottom: 10px;
}

.membership h2{
  font-size: 20px;
}



footer {
  margin: auto;
  padding: 50px;
  width: 100%;
  background-color: #f7ded5;
}
