* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
}
div.header{
  margin: auto;
  width: 20vw;
  height: auto;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
}

.header img{
  height: 100px;
  width: 100%;

}

.navbar {
  padding: 50px;
  justify-content: flex-end ;
  align-items: flex-end;
  display: flex;

}
.navbar a:visited{
  text-decoration: none;
}

.navbar a{
  color: black;
  font-size: 20px;
  padding: 20px 20px;
}

.navbar a:link{
  text-decoration: none;
}

.main-nav{
  justify-content: center;
  display: flex;
}

.main-nav a{
  font-size: 20px;
  padding: 20px;
  margin: 15px 25px;
  text-decoration: none;
  text-align: center;
}

section.home-container{
  margin: auto;
  padding:50px;
  width: 70vw;
  /* background-color: blue; */
}

section.coupons{

  width: 100%;
  z-index: 0;
  overflow: hidden;
  height: 10vh;
  background: url(../images/coupon-bg.png);
  background-size:  cover;
  bottom:0;
  left:0;
}

.container{
  left:0;
  bottom:180px;

}

/* figure img{
  display: block;
} */
