@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Light.otf);
  font-family: InterBold;
  src: url(fonts/Inter-Bold.otf);
}
.slide-left {
	opacity: 0;
	transform: translateX(2em);
	transition: all .5s .35s ease-out;
	will-change: all;
}

.slide-left.is-visible {
	opacity: 1;
	transform: translateX(0);
}

.slide-up {
	opacity: 0;
	transform: translateY(3em);
	transition: all 0.7s 1s ease-out;
/*	will-change: all;*/
}
.slide-up.is-visible {
	opacity: 1;
	transform: translateY(0);
}


.bar-left{
  display: block;
  background: url("../images/bar1.svg") repeat-x;
  /* margin-top:20px; HOW CAN IT BE IN THE MIDDLE */
  height: 50px;
  width: 4000px;
  opacity:0;
  transition: all 5s;
}

.bar-left.is-visible {
  opacity: 1;
  animation:slide-left 30s linear infinite;
}

@keyframes slide-left{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-2000px, 0, 0);
  }
}
