/* CSS RESET */
@font-face {

  font-family: Inter;
  src: url(fonts/Inter-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Inter;
  overflow-x: hidden;
}

div.header {
  z-index: 1;
  position: relative;
  margin: auto;
  width: 20vw;
  height: auto;
  min-height: 15vh;
  justify-content: center;
  align-items: center;

}

.header img {
  height: 80px;
  width: 100%;
}
.header img:hover{
  animation: slider 1s 0.5s forwards;
  animation-iteration-count: infinite;
}

/* rotates logo */
@keyframes slider{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

.navbar {
  padding: 50px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.navbar a:visited {
  text-decoration: none;
}



.navbar a {
  font-family: Inter;
  color: black;
  font-size: 20px;
  padding: 20px 20px;
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:hover{
  text-decoration: underline;

}

.main-nav {

  justify-content: center;
  display: flex;
  flex-flow: wrap;
}

.main-nav a {
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin: 15px 25px;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-radius: 0px;
  border-width: 2px;

}
.main-nav a:link{
  text-decoration: none;
}
.main-nav a:hover {
  text-decoration: underline;

}


section.home-container {
  margin: auto;
  padding: 50px;
  width: 75vw;
  margin-bottom: 150px;
}

section.coupons {
  margin-bottom: 20px;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  padding:30px;
  background: url(../images/coupon-bg.png);
  background-size: cover;
  left: 0;
  bottom: 0;
}

.container {
  left: 0;
  bottom: 180px;
}

div.new {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  /* height: 50vh; */
  padding: 50px;
  text-align: center;
  display: flex column;
  justify-content: space-between;
  align-items: center;
  background: url(../images/shop-now.png) no-repeat center center;
  background-size: cover;

}





section.discount {

  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;

}

.discount img{
  display: block;
  width: 100%;
}

.shop-now h1{
  font-size: 40px;
  padding: 10px;
}

.shop-now h2{
  font-size: 30px;
  padding: 10px;
}


.shop-now a {

  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  /* padding: 30px 50px; */
  text-decoration: none;
  font-size: 20px;
  transition: all 0.5s;
  box-shadow: 0 5px 10px 0px grey;
}

.shop-now a:hover {
  box-shadow: 0 8px 20px 0px white;
}

.mySlides img{
  width: 40vw;
  /* border-radius: 250px; */
  height:50vh;
}
.mySlides {

  display: none;
}

.prev,
.next{
  cursor: pointer;
  position: absolute;
  top:50%;
  width:auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select:none;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;

}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0,0,0.8);
}

section.membership{

  display: flex row;
  width:100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #f7ded5;
  padding: 20px;
  margin-bottom: 20px;

}

.membership h1{
  color: black;
  font-size: 25px;
  margin-bottom: 10px;
}

.membership h2{
  font-size: 20px;
}

.influencer{
  margin: auto;
  width:100%;
  background-color:#aa9fd1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.influencer-left{
text-align: center;
position: relative;
flex:50%;
height:50vh;
background: url(../images/influencer.png) no-repeat center center;
background-size: cover;

}


.influencer-main{
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  flex: 50%;
  padding: 40px;
  position: relative;


}


.influencer-main a {
  padding: 20px;
  color: black;
  background-color: white;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.5s;
  box-shadow: 0 5px 10px 0px white;

}

.influencer-main a:hover {
    box-shadow: 0 8px 20px 0px white;
}
.influencer-main figure{
  padding:40px;
}

.influencer h2{
  font-size: 30px;
}



/* footer properties */

footer {
  justify-content: space-around;
  margin: auto;
  padding: 50px;
  width: 100%;
  background-color: #fad9dd;
  display: flex;

}

.shop-footer{
  /* margin-left: 100px; */
}

.shop-footer h1{
  padding: 10px;
  font-size: 20px;
}

.shop-footer h2{
  padding: 10px;
  font-size: 15px;
}
.shop-footer h2:hover{
  color: white;
  cursor: pointer;
}

footer.bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 15vh;
  background: url(../images/coupon-bg.png);
  background-size: cover;
}

.bottom h2{
  font-size: 20px;
}

@media screen and (max-width: 992px) {

  section.home-container{
    width: 90vw;
  }


  .shop-now h1{
    font-size: 20px;
    padding: 10px;
  }

  .shop-now h2{
    font-size: 10px;
    padding: 10px;
  }

  .shop-now a {

    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    /* padding: 30px 50px; */
    text-decoration: none;
    font-size: 10px;
    transition: all 0.5s;
    box-shadow: 0 5px 10px 0px grey;
  }
  .influencer-main h2{
    padding: 10px;
    font-size: 20px;
  }
  .influencer-main{
    flex: 50%;
    padding: 0px;



  }

  .influencer-main a {
    padding: 5px;
    color: black;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    font-size: 10px;
    transition: all 0.5s;
    box-shadow: 0 5px 10px 0px white;

  }
  .influencer-main figure{

  }

  .membership h1{
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .membership h2{
    font-size: 10px;
  }



}

@media screen and (max-width: 600px) {

}
